<template name="clients">
  <h3>Painel</h3>
  <br>
  <h4>Clientes</h4>

  <form id="new-client">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" class="form-control" id="name" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="description">Descrição: </label>
      <input type="text" class="form-control" id="description" placeholder="Descrição">
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label><input id="active" type="checkbox">Ativo</label>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Novo Cliente</button>
    </div>
  </form>

  <table class="table table-hover table-striped table-striped table-bordered table-condensed table-responsive text-center">
     <thead>
      <tr>
         <th>Nome</th>
         <th>Descrição</th>
         <th>Ativo</th>
      </tr>
     </thead>
     <tbody>
      {{#each client in clients}}
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.description}}</td>
        <td>{{client.active}}</td>
      </tr>
      {{/each}}
     </tbody>
  </table>
</template>
